* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	top: 0px;
	font-family: 'Roboto', sans-serif;
}

.containerHeader {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #000000;
}

header {
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #ffffff;
}

header ul {
	list-style-type: none;
	display: flex;
	clear: left;
}

.navLogOut ul li{
	display: inline;
	width: 25%;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.headerCliente {
	display: flex;
	justify-content: space-between;
}

.headerCliente nav{
	width: 35rem;
	margin-right: 2rem;
	margin-left: 2rem;
}

.headerCliente nav ul{
	display: flex;
	justify-content: space-around;	
	height: 100%
}

.headerCliente ul li{
	display: inline;
	width: 25%;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

ul li a {
	color: #ffffff;
	text-decoration: none;
}

#contProd{
	display: inline;
}

#logo {
	width: 4rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}

#carrinho {
	height: 3rem;
	margin: 0.5rem;
}

#imgUser {
	height: 3rem;
	margin: 0.5rem;
}

#imgCadeado {
	width: 1rem;
}

#title{
	clear: all;
	border: 1px solid white;
	height: 35rem;
}

#banner{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#stripContato {
	width: 100%;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	margin: 0px;
	padding: 1rem;
	border: 0px;
	align-items: center;
}

#stripContato img{
	display: inline;
	width: 3rem;
}

#stripContato h3{
	color: white;
	margin-left: 1rem;
}

h1{
	color: navy;
	font-size: 48px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	margin-top: 15rem;
	margin-right: 5rem;
	text-align: right;
}

h2 {
	color: navy;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

h3 {
	color: navy;
	font-size: 18px;
}

h4{
	color: red;
	font-size: 22px;
	margin-top: 1rem;
}

table {
	width: 80%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	font-family: sans-serif;
}

table tr {
	border: none;
	height: 4rem;
	background-color: white;
}

tr:nth-child(1) {
  background-color: steelblue;
  color: white;
}

table td{
	border: none;
	text-align: center;
	width: 15%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	border-bottom: 2px solid lightgray;
}

.tdProd {
	width: 40%;
}

.tdBtn {
	width: 7.5%;
	align-content: center;
}

.tdBtn button{
	background-color: navy;
	color: white;
	border-radius: 15%;
	border-style: none;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	align-self: center;
	padding: 1rem;
	cursor: pointer;
}

.tdBtn button:hover{
	background-color: steelblue;
}

p{
	font-size: 24px;
	font-family: sans-serif;
	text-align: justify;
	margin: 0 5rem 0 5rem;
}

input[type=text], input[type=file], select {
	width: 70%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 2rem;
}

input[type=submit] {
	width: 70%;
	background-color: red;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: darkred;
}

.containerForm, .tableProdutos {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6rem;
}

.containerVendas {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 14rem;
}

#flexBox {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.containerProd {
	border-radius: 5px;
	border: 1px solid red;
	background-color: #ffffff;
	padding: 20px;
	width: 25%;
	margin-top: 3rem;
}

.tableCompra {
	margin-bottom: 4rem;
}

.returnBtn {
	background-color: navy;
	color: white;
	font-size: 16px;
	padding: 0.5rem;
	border-style: none;
	border-radius: 7%;
}

.returnBtn:hover{
	background-color: steelblue;
	cursor: pointer;
}

footer{
	height: 15rem;
	width: 100%;
	margin-top: 5rem;
	background-color: #000000;
	color: #ffffff;
}

#containerFooter{
	height: 100%;
	padding-top: 3rem;
	height: 15px;
}

#containerFooter p{
	margin-top: 3rem;
	margin-left: 10rem;
	font-size: 16px;
}

#logoFooter{
	margin-top: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
	height: 6rem;
	float: left;
}

 .imagesCarrinho{
	height: 8rem;
 }

 input[type=number] {
 	height: 2rem;
 	width: 50%;
 	font-size: 16px;
 }

 .btnVenda {
 	width: 100%
 	clear: both;
 }

.containerADM {
	border-radius: 5px;
	border: 1px solid red;
	background-color: #ffffff;
	padding: 20px;
	width: 25%;
	margin-top: 3rem;
}

.containerADM h3{
	color: black;
}

.containerADM a{
	text-decoration: none;
}

.containerADM:hover{
	box-shadow: 0.5em rgba(255, 0, 0, 0.1);
	background-color: #cccccc;
	transition: 0.4s all;
}

 .perfil{
 	width: 60rem;
 	margin-left: 4rem;
 	background-color: #f2f2f2;
 	margin-top: 12rem;
 	margin-bottom: 12rem;
 }

 .perfil img{
 	width: 10rem;
 	float: left;
 	margin-right: 3rem;
 }

.detalheProd{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10rem;
}

 .slideshow-container {
   border-radius: 5px;
  border: 1px solid red;
  background-color: #ffffff;
  padding: 20px;
  width: 22rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
	max-width: 35rem;
	float: left;
}

.prev, .next {
cursor: pointer;
width: auto;
padding: 16px;
color: #aaaaaa;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
right: 0;
margin-right: 60%;
border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.description {
	margin-top: 2rem;
}

.description p{
	font-size: 15px;
	text-align: justify;
	margin: 0 5rem 1rem 5rem;
}

#editarDetalhes{
	clear: both;
  	width: 50%;	
	background-color: navy;
	color: white;
	padding: 14px 22%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  	margin-left: 7%;
}